# Hide Terraform and template files
*.tf linguist-vendored
*.tfvars linguist-vendored
*.tpl linguist-vendored
terraform/* linguist-vendored
helm/templates/* linguist-vendored

# Force language classification
*.js linguist-language=JavaScript
*.yaml linguist-language=YAML
*.sh linguist-language=Shell
